.preview-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
    height: 300px;
    width:auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #e4e3e3;
}

.content-img {
    cursor: pointer;
    position: relative;
}

.content-icons {
	position: absolute; top: 0px; right: 0px; z-index: 5; padding: 3px; 
}

.assmt-icons {
	position: absolute; top: 0px; left: 0px; z-index: 5; padding: 3px; 
}

.status-icon {
    width:20px;
    height:20px;
}

.image-details {
    font-style: italic;
    font-size: 0.8em;
}

.task-label {
    font-size: 1.1em;
    font-weight: bold;
    color: #2D5B9F;
}



.task-name {
    font-size: 1.1em;
    cursor: pointer;
}

.assessment-label {
    font-size: 1.0em;
    font-weight: bold;
    color: #2D5B9F;
}

.assessment-name {
    font-size: 1.0em;
    cursor: pointer;
}